 
<header class=" bg-gray-700 py-4 flex flex-col md:flex-row gap-4 px-5 justify-between items-center">
    <div>
       <p class=" text-5xl text-white">SAT<span class="text-green-600">YAM</span></p>
    </div>
    <nav>
        <ul class=" flex gap-8">
            <li><a routerLink="" class="text-white text-2xl">Home</a></li>
            <li><a routerLink="/about" class="text-white text-2xl">About</a></li>
            <li><a routerLink="/projects" class="text-white text-2xl">Projects</a></li>
            <li><a routerLink="/contact" class="text-white text-2xl">Contact</a></li>
        </ul>
    </nav>
</header>